@media screen and (max-width: 1320px)        
  .Layout
    background: green !important

@media only screen and (max-width: 1024px)
  .Layout
    background: orange !important

@media only screen and (max-width: 600px)
  .Layout
    background: blue !important
